<nav>
  <div class="logo" routerLink="/tasks">
    <span class="mr-8">Momentum</span>
    <img src="default.svg" alt="logo" />
  </div>
  <div class="nav-btns">
    <button class="btn btn-secondary mr-40" (click)="openModal()">
      თანამშრომლის შექმნა
    </button>
    <button class="btn btn-primary" routerLink="/add-task">
      + შექმენი ახალი დავალება
    </button>
  </div>
</nav>

<ng-container *ngIf="modalToggle">
  <app-add-employee-modal
    [departments]="departments"
    (closeModal)="onCloseModal()"
    (submit)="onSubmit($event)"
  ></app-add-employee-modal>
</ng-container>
