<div class="dropdown-filter-container">
  <div
    class="dropdown-toggler"
    (click)="toggleDropdown('departments')"
    [ngClass]="{ 'dropdown-toggler-focused': dropdownToggle === 'departments' }"
  >
    <span>დეპარტამენტი</span>
    <img src="dropdown-arrow.svg" alt="dropdown-arrow" />
  </div>
  <div
    class="dropdown-toggler"
    (click)="toggleDropdown('priorities')"
    [ngClass]="{ 'dropdown-toggler-focused': dropdownToggle === 'priorities' }"
  >
    <span>პრიორიტეტი</span>
    <img src="dropdown-arrow.svg" alt="dropdown-arrow" />
  </div>
  <div
    class="dropdown-toggler"
    (click)="toggleDropdown('employee')"
    [ngClass]="{ 'dropdown-toggler-focused': dropdownToggle === 'employee' }"
  >
    <span>თანამშრომელი</span>
    <img src="dropdown-arrow.svg" alt="dropdown-arrow" />
  </div>
</div>

<ng-container [ngSwitch]="dropdownToggle">
  <div class="dropdown-menu" *ngSwitchCase="'departments'">
    <div class="dropdown-item-list">
      <p
        class="dropdown-item"
        *ngFor="let item of departments"
        (click)="selectItem(item)"
      >
        <img
          [src]="checkSelected(item) ? 'checked.svg' : 'check-box.svg'"
          alt="check-box"
        />
        <span>{{ item.name }}</span>
      </p>
    </div>
    <div class="dropdown-button">
      <button class="btn btn-primary btn-rounded" (click)="updateFilter()">
        არჩევა
      </button>
    </div>
  </div>
  <div class="dropdown-menu" *ngSwitchCase="'priorities'">
    <div class="dropdown-item-list">
      <p
        class="dropdown-item"
        *ngFor="let item of priorities"
        (click)="selectItem(item)"
      >
        <img
          [src]="checkSelected(item) ? 'checked.svg' : 'check-box.svg'"
          alt="check-box"
        />
        <span>{{ item.name }}</span>
      </p>
    </div>
    <div class="dropdown-button">
      <button class="btn btn-primary btn-rounded" (click)="updateFilter()">
        არჩევა
      </button>
    </div>
  </div>
  <div class="dropdown-menu" *ngSwitchCase="'employee'">
    <div class="dropdown-item-list">
      <div
        class="dropdown-item"
        *ngFor="let item of employees"
        (click)="selectItem(item)"
      >
        <img
          [src]="checkSelected(item) ? 'checked.svg' : 'check-box.svg'"
          alt="check-box"
        />
        <div style="display: flex; align-items: center">
          <img [src]="item.avatar" class="avatar mr-10" alt="avatar" />
          <span>{{ item.name }}</span>
        </div>
      </div>
    </div>
    <div class="dropdown-button">
      <button class="btn btn-primary btn-rounded" (click)="updateFilter()">
        არჩევა
      </button>
    </div>
  </div>
</ng-container>

<div class="filter-tags">
  <p class="filter-tag" *ngFor="let tag of filterTags">
    <span class="filter-tag-text">{{ tag.item.name }}</span>
    <img src="close.svg" alt="close-icon" (click)="removeTag(tag)" />
  </p>
  <ng-container *ngIf="filterTags.length > 0">
    <p class="filter-tag-text" style="cursor: pointer" (click)="clearFilter()">
      გასუფთავება
    </p>
  </ng-container>
</div>
