<header class="header" style="margin: 40px 0 25px 0">
  შექმენი ახალი დავალება
</header>
<div class="field npe">
  <ng-container *ngIf="form">
    <form (submit)="onSubmit()" [formGroup]="form">
      <div>
        <div class="inline npe" style="margin-bottom: 55px">
          <div class="label-input-pair" style="margin-right: 160px">
            <label for="">სათაური *</label>
            <app-text-input
              [formControl]="$any(form.controls.name)"
              [minLength]="3"
              [maxLength]="255"
            ></app-text-input>
          </div>
          <div class="label-input-pair">
            <label for="">დეპარტამენტი *</label>
            <app-custom-select
              [formControl]="$any(form.controls.department)"
              [items]="departments"
            ></app-custom-select>
          </div>
        </div>
        <div class="inline" style="margin-bottom: 55px">
          <div class="label-input-pair" style="margin-right: 160px">
            <label for="">აღწერა</label>
            <app-text-input
              [formControl]="$any(form.controls.description)"
              [isTextArea]="true"
              [minLength]="4"
              [maxLength]="255"
            ></app-text-input>
          </div>
          <div class="label-input-pair">
            <label for="">პასუხისმგებელი თანამშრომელი *</label>
            <app-custom-select
              [formControl]="$any(form.controls.employee)"
              [items]="employeesByDepartment"
              [type]="'employee'"
              (openModal)="openModal()"
              [disabled2]="$any(!form.controls.department.value)"
            ></app-custom-select>
          </div>
        </div>
        <div class="inline npe" style="margin-bottom: 55px">
          <div
            class="label-input-pair"
            style="width: 260px; margin-right: 30px"
          >
            <label for="">პრიორიტეტი *</label>
            <app-custom-select
              id="priority"
              [formControl]="$any(form.controls.priority)"
              [items]="priorities"
              [width]="260"
              [type]="'priority'"
              dropdownToggle
            ></app-custom-select>
          </div>
          <div
            class="label-input-pair"
            style="width: 260px; margin-right: 160px"
          >
            <label for="">სტატუსი *</label>
            <app-custom-select
              [formControl]="$any(form.controls.status)"
              [items]="statuses"
              [width]="260"
            ></app-custom-select>
          </div>
          <div class="inline" style="margin-bottom: 55px">
            <div class="label-input-pair" style="margin-right: 160px">
              <label for="">დედლაინი *</label>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [min]="minDate"
                  [matDatepicker]="picker"
                  [formControl]="$any(form.controls.due_date)"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="inline" style="justify-content: end; width: 80%">
        <button
          type="submit"
          class="btn btn-primary"
          stopPropagation
          [disabled]="form.untouched || form.invalid"
        >
          დავალების შექმნა
        </button>
        <!-- <button
          type="button"
          class="btn btn-secondary"
          stopPropagation
          (click)="randomiseTasks()"
        >
          დავალებების რანდომიზაცია
        </button> -->
      </div>
    </form>
  </ng-container>
</div>

<ng-container *ngIf="modalToggle">
  <app-add-employee-modal
    [depId]="departmentIndex"
    [departments]="departments"
    (submit)="onEmployeeSubmit($event)"
    (closeModal)="onCloseModal($event)"
  ></app-add-employee-modal>
</ng-container>
