/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.cdnfonts.com/css/fredoka-one");
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./scss/main.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: $max-width - 2 * ($container-padding);
}

body {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 100%;
  color: $font-color-lightdark;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $primary-color $shade-color;
}

nav {
  height: $nav-height;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo {
  display: flex;
  height: 38px;
  align-items: center;
  cursor: pointer;
}

.logo > span {
  color: #8338ec;
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 31px;
  line-height: 100%;
  letter-spacing: 0%;
}

.nav-btns {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: $primary-color;
  border: none;
}

.btn-primary:disabled {
  border-color: $primary-color-disabled;
  background-color: $primary-color-disabled;
}

.btn-secondary {
  color: $font-color-dark;
  background-color: white;
}

.btn-secondary:disabled {
  color: $font-color-lightdark;
  border-color: $primary-color-disabled;
}

.btn-rounded {
  width: 155px;
  justify-content: center;
  border-radius: 20px;
  padding: 7px 0;
  letter-spacing: 1px;
}

.header {
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0%;
  color: $font-color-dark;
  line-height: 100%;
}

//status
.status-flex-container {
  display: flex;
  align-items: first baseline;
  justify-content: space-around;
}

.status-panel {
  text-align: center;
  color: white;
  padding: 15px 10px;
  width: 380px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
}

.status-panel-1 {
  background-color: $status-1;
}

.status-panel-2 {
  background-color: $status-2;
}

.status-panel-3 {
  background-color: $status-3;
}

.status-panel-4 {
  background-color: $status-4;
}

.status-column {
  display: flex;
  flex-direction: column;
  margin-right: 52px;
}

.status-column > * {
  margin-bottom: 30px;
}

.status-1 {
  color: $status-1;
}
//status

//tags
.priority-tag {
  display: flex;
  align-items: center;
  border: 0.5px solid;
  border-radius: 4px;
  padding: 4px;
}

.priority-tag > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

.priority-tag > img {
  width: 16px;
  margin-right: 4px;
}

.department-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding: 6px 10px;

  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.priority-1 {
  color: $priority-low;
  border-color: $priority-low;
}

.priority-2 {
  color: $priority-medium;
  border-color: $priority-medium;
}

.priority-3 {
  color: $priority-high;
  border-color: $priority-high;
}

.department-1 {
  background-color: $department-1;
}

.department-2 {
  background-color: #fa4d4d;
}

.department-3 {
  background-color: #86ca4d;
}

.department-4 {
  background-color: #3c8fb6;
}

.department-5 {
  background-color: #c929ae;
}

.department-6 {
  background-color: #cec115;
}

.department-7 {
  background-color: #2c40af;
}
//tags

//Filter Selection
.dropdown-filter-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin-bottom: 20 px;
}

.dropdown-toggler {
  margin-right: 45px;
  padding: 10px 30px 10px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggler > span {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-right: 8px;
}

.dropdown-toggler > img {
  width: 24px;
  color: black;
  transition: 0.35s ease-in-out;
}

.dropdown-toggler-focused {
  color: $primary-color;
}

.dropdown-toggler-focused > img {
  transform: rotate(-180deg);
  filter: invert(24%) sepia(93%) saturate(2218%) hue-rotate(254deg)
    brightness(92%) contrast(102%);
  transition: 0.35s ease-in-out;
}

.dropdown-menu {
  z-index: 5;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  border: 0.5px solid $primary-color;
  border-radius: 10px;
  width: 700px;
  padding: 40px 30px 20px 30px;
  margin-top: 10px;
}

.dropdown-item-list {
  background-color: white;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.dropdown-item span {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.dropdown-item > img {
  width: 22px;
  margin-right: 15px;
}

.dropdown-button {
  margin-top: 25px;
  display: flex;
  justify-content: end;
}

.filter-tags {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  margin: 10px 0 20px 0;
}

.filter-tag {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 6px 10px;
  margin: 10px 10px 0 0;
}

.filter-tag-text {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-right: 5px;
}

.filter-tag > img {
  width: 14px;
}
//Filter Selection

//Space
.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-40 {
  margin-right: 40px;
}
//Space

.field {
  width: 100%;
  height: 900px;
  background-color: #fbf9ffa6;
  padding: 65px 55px 140px 55px;
  border: 0.3px solid #ddd2ff;
  border-radius: 4px;
}

.inline {
  display: flex;
  align-items: start;
}

.label-input-pair {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.label-input-pair > label {
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 6px;
  color: #343a40;
}

input,
textarea {
  border: 1px solid #dee2e6;
  outline: none;
  border-radius: 5px;
  padding: 14px;
  width: 550px;
  margin-bottom: 4px;
  font-size: 350;
  font-size: 14px;
  color: #212529;
}

input {
  height: 45px;
}

textarea {
  height: 135px;
  resize: none;
  overflow: hidden;
}

.validation-message {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 350;
  font-size: 10px;
  line-height: 100%;
  color: #6c757d;
}

.validation-message > img {
  width: 16px;
  padding: 1px 2px;
}

p.check-failed {
  color: #fa4d4d;
}

p.check-passed {
  color: #08a508;
}

input.check-failed,
textarea.check-failed,
div.check-failed {
  border-color: #fa4d4d !important;
}

input.check-passed,
textarea.check-passed,
div.check-passed {
  border-color: #08a508 !important;
}

p.check-failed > img {
  filter: invert(32%) sepia(66%) saturate(2974%) hue-rotate(340deg)
    brightness(125%) contrast(96%);
}

p.check-passed > img {
  filter: invert(39%) sepia(37%) saturate(4740%) hue-rotate(96deg)
    brightness(100%) contrast(94%);
}

.custom-select {
  min-width: 260px;
  min-height: 45px;
  position: relative;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  padding: 14px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  z-index: 2;
}

.custom-select::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 10px;
  top: calc(50% - 7px);
  width: 14px;
  height: 14px;
  background-image: url("./../public/dropdown-arrow.svg");
  background-size: 14px;
  pointer-events: none;
}

.custom-select:focus::after {
  rotate: -180deg;
  transition: 0.35s;
}

option:checked {
  background-color: #e8e8e8;
}

select.check-failed {
  border-color: #fa4d4d;
}

select.check-passed {
  border-color: #08a508;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
