@import "./variables";

.status-flex-container {
  display: flex;
  align-items: first baseline;
  justify-content: space-around;
}

.status-panel {
  text-align: center;
  color: white;
  padding: 15px 10px;
  width: 380px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
}

.status-panel-1 {
  background-color: $status-1;
}

.status-panel-2 {
  background-color: $status-2;
}

.status-panel-3 {
  background-color: $status-3;
}

.status-panel-4 {
  background-color: $status-4;
}

.status-column {
  display: flex;
  flex-direction: column;
  margin-right: 52px;
}

.status-column > * {
  margin-bottom: 30px;
}

.status-1 {
  color: $status-1;
}
