/* Measurements */
$max-width: 1920px;
$container-padding: 120px;
$nav-height: 100px;
/* Measurements */

/* Colors */
$primary-color: #8338ec;
$primary-color-disabled: #b588f4;
$font-color-dark: #212529;
$font-color-lightdark: #343a40;
$shade-color: #c3c3c3;
/* Colors */
